<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hunter.blog.modules.article.dao.IArticleDao">
    <update id="updateClickCount" parameterType="int">
        update sys_article set art_click_count = art_click_count + 1
        where art_id = #{artId}
    </update>

    <select id="getArticleById" parameterType="java.lang.Integer"
            resultType="com.hunter.blog.modules.article.model.ArticleDo">
        select
        art_title AS artTitle,
        art_createTime AS artCreateTime,
        art_content AS artContent,
        art_click_count AS artClickCount,
        art_comment AS artComment,
        art_title_img_url AS artTitleImgURL
        FROM
        sys_article
        <where>
            <if test="artId != null and artId != ''">
                art_id = #{artId}
            </if>
        </where>
        AND art_status = "已发布"
        AND is_deleted = "1"
    </select>

    <select id="getArticleList" parameterType="java.lang.String"
            resultType="com.hunter.blog.modules.article.model.ArticleDo">
        SELECT
        art_id AS artId,
        art_title AS artTitle,
        art_content AS artContent,
        art_title_img_url AS artTitleImgURL,
        art_createTime AS artCreateTime,
        art_click_count AS artClickCount,
        art_comment AS artComment
        FROM
        sys_article
        <where>
            <if test="condition != null and condition != ''">
                AND art_title LIKE CONCAT('%', #{condition}, '%')
            </if>
            AND is_deleted = 1 AND art_status = "已发布"
        </where>
        ORDER BY art_createTime desc
        LIMIT #{curPage},#{pageSize}
    </select>

    <!--  查询文章总数  -->
    <select id="getArticleCount" resultType="java.lang.Integer">
        SELECT
            COUNT(art_id)
        FROM
            sys_article
        WHERE
            is_deleted = 1
            AND art_status = "已发布"
    </select>

    <!-- 下一篇文章的Id -->
    <select id="getNextArticleByCreateTime" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        art_id
        from
        sys_article
        <where>
            <if test="articleCreateTime != null and articleCreateTime != ''">
                art_createTime &lt; #{articleCreateTime}
            </if>
            AND is_deleted = 1
            AND art_status = "已发布"
        </where>
        order by
        art_createTime desc
        limit 1
    </select>

    <!-- 上一篇文章的id -->
    <select id="getPrvArticleByCreateTime" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        art_id
        from
        sys_article
        <where>
            <if test="articleCreateTime != null and articleCreateTime != ''">
                art_createTime > #{articleCreateTime}
            </if>
            AND is_deleted = 1
            AND art_status = "已发布"
        </where>
        order by
        art_createTime asc
        limit 1
    </select>


    <!-- 发布文章 -->
    <insert id="saveArticle" parameterType="com.hunter.blog.modules.article.model.ArticleDo">
        insert into
            sys_article(art_title,art_content,art_status,art_channel,art_createTime,art_title_img_url)
        values
            (#{articleDo.artTitle},#{articleDo.artContent},#{articleDo.artStatus},#{articleDo.artChannel},#{articleDo.artCreateTime},#{articleDo.artTitleImgURL})
    </insert>


</mapper>
